---
import { Image } from 'astro:assets'

import { Quote } from 'astro-pure/advanced'
import { PostPreview } from 'astro-pure/components/pages'
import { getBlogCollection, sortMDByDate } from 'astro-pure/server'
import { Button, Card, Icon, Label } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
import ProjectCard from '@/components/home/ProjectCard.astro'
import Section from '@/components/home/Section.astro'
import SkillLayout from '@/components/home/SkillLayout.astro'
import config from '@/site-config'

const frontend = [
  'TypeScript',
  'Vite',
  'Vue',
  '鸿蒙Next',
  'Uniapp',
  'Svelte',
  '微信小程序',
  '微信公众号',
  'SSG',
  'Webpack'
]
const backend = ['Vercel', 'NestJS','Openresty']
const pmp = ['PMI-PMP 持证','高项在考']
const MAX_POSTS = 10
const allPosts = await getBlogCollection()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)

const imagePath = config.logo.src
const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/*.{jpeg,jpg,png,gif,avif,webp}'
)
if (!images[imagePath])
  throw new Error(
    `"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif,avif,webp}"`
  )
---

<PageLayout meta={{ title: 'Home' }} highlightColor='#659EB9'>
  <main class='flex w-full flex-col items-center'>
    <section class='animate mb-10 flex flex-col items-center gap-y-7' id='content-header'>
      <Image
        src={images[imagePath]()}
        alt={config.logo.alt || 'Profile'}
        class='h-28 w-auto rounded-full border p-1'
        loading='eager'
        fetchpriority='high'
      />

      <div class='flex flex-col items-center gap-y-4'>
        <h1 class='text-3xl font-medium'>{config.author}</h1>
        <div class='flex flex-wrap justify-center gap-x-7 gap-y-3 items-center'>
          <Label title='Nanjing'>
            <Icon name='location' class='size-5' slot='icon' />
          </Label>
          <!-- <Label title='Github' as='a' href='https://github.com/perchecc' target='_blank'>
            <Icon name='github' class='size-5' slot='icon' />
          </Label> -->
        </div>
      </div>
    </section>
    <Quote class='mb-1rem mt-[-1.5rem]' />
    <div id='content' class='animate flex flex-col gap-y-10 md:w-4/5 lg:w-5/6'>
      <Section title=''>
        <Card>
          <p class='text-muted-foreground font-bold'>央企TL / PO</p>
          <p class='text-muted-foreground'>
            10年码力｜6年政企项目管理经验
          </p>
        </Card>
      </Section>

      <Section title='技能点'>
        <SkillLayout title='前端' skills={frontend} />
        <SkillLayout title='后端' skills={backend} />
        <SkillLayout title='项目管理' skills={pmp} />
      </Section>

      {
        allPostsByDate.length > 0 && (
          <Section title='最近发布'>
            <ul class='flex flex-col gap-y-1.5 sm:gap-y-2'>
              {allPostsByDate.map((p) => (
                <li class='flex flex-col gap-x-2 sm:flex-row'>
                  <PostPreview post={p} />
                </li>
              ))}
            </ul>
            <Button title='更多' class='w-fit self-end' href='/blog' variant='ahead' />
          </Section>
        )
      }

      <!-- <Section title='Website List'>
        <div class='grid grid-cols-1 gap-3 sm:grid-cols-2'>
          <ProjectCard
            href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
            heading='Lorem ipsum'
            subheading='Do not go gentle into that good night'
            imagePath='/src/assets/projects/1.avif'
          />
          <ProjectCard
            href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
            heading='Lorem ipsum'
            subheading='Old age burn and rave at close of day'
            imagePath='/src/assets/projects/2.avif'
          />
          <ProjectCard
            href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
            heading='Lorem ipsum'
            subheading='Rage, rage against the dying of the light'
            imagePath='/src/assets/projects/3.avif'
          />
          <ProjectCard
            href='/projects'
            heading='More projects'
            subheading='Check out more projects'
            imagePath='/src/assets/projects/4.avif'
          />
        </div>
      </Section> -->
    </div>
  </main>
</PageLayout>
